html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    background: #0091C7 url(/images/small_tiles.png) repeat;
    text-shadow: #fff 1px -1px .5px;
}

header {
    text-shadow: #333 1px -1px .5px;
}

a {
    text-decoration:none;
    color:#666;
}

h2 {
    margin-bottom:1em;
    font-size:1em;
    color:#333;
}

li {
    list-style-type: none;
}

header {
    display:block;
    position:relative;
    padding: .66em 0px 0px .66em;
    background: #eee url(/images/header-bg.jpeg) repeat-x;
    border-bottom: 1px #ccc solid;
    min-height: 2.66em;
}

header h1 {
    display: inline;
    font-size:1.3em;
    font-weight:bold;
    color:#fff;
}

header h1 a {
    color:#fff;
}

header h1 small {
    font-size: 1em;
}

#content {
    display:block;
    margin-top:1.33em;
    margin-bottom:1.33em;
    padding: .66em;
}

footer {
    display:block;
    border-top: 1px #ccc solid;
    text-align: center;
    color:#ccc;
    font-size: 1em;
    min-height: 2.66em;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin-bottom:1.33em;
    display: inline;
}

nav a {
    margin-left: 1.33em;
    color:#fff;
}

#account {
    color:#aaa;
    position: absolute;
    top: .33em;
    right: .66em;
    font-weight:bold;
    font-size: .9em;
}

#account a {
    margin-left:.66em;
    margin-right:.66em;
}

#login,#submitform {
    display:block;
    position:relative;
    width:20em;
}

#login label, #submitform label {
    font-size: 1em;
    font-weight:bold;
}

div #errormsg {
    width:20em;
    color:#ff9999;
    font-weight:bold;
    margin-top: .66em;
}

article {
    display: block;
    font-size: 1em;
    margin-bottom:.66em;
    border: 1px solid transparent;
}

article.active {
    border: 1px dashed #000;
}

article h2 {
    display: inline;
    font-size:1em;
}

article address {
    display: inline;
    color: #999;
    font-size:.8em;
}

article h2 a {
    color: black;
}

article h2 a:visited {
    color: #999999;
}

article .uparrow, article .downarrow {
    font-size: large;
    cursor: pointer;
}

article .uparrow {
    color:#999;
}

article .downarrow {
    color:#ccc;
}

article p {
    font-size:.8em;
    color:#999;
    margin-left:2.66em;
}

article p a {
    color: #555;
}

article.comment .uparrow.voted, article .uparrow.voted {
    color:#99dd99;
}

article.comment .downarrow.voted, article .downarrow.voted {
    color:#dd9999;
}

article .downarrow.disabled, .uparrow.disabled {
    visibility: hidden;
}

article.deleted {
    padding-left:.66em;
    color:#999;
}

form textarea {
    font-family: "Inconsolata" Courier monospace;
    font-size: 1em;
}

.comment {
    position:relative;
    width:40em;
    display:block;
    margin-bottom:1.66em;
    min-height:2em;
    margin-left: 1.33em;
}

.comment .avatar img {
    position:absolute;
    top:0px;
    left:0px;
    width:32px;
    height:32px;
}

.comment .info {
    position:relative;
    left:2.66em;
    font-size: .9em;
    color:#999;
}

.comment .info a.reply {
    text-decoration:underline;
    padding-left:.33em;
}

.comment pre {
    width:40em;
    position:relative;
    left:2.66em;
    top:.33em;
    font-family: "Inconsolata" Courier monospace;
    font-size: .9em;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

article.comment .uparrow, article.comment .downarrow {
    color:#aaa;
    font-size: .9em;
}

note {
    color: #666;
    margin-left:1.33em;
    font-size: .9em;
}

.comment.deleted {
    color: #999;
}

topcomment {
    display:block;
    margin:.66em;
}

.singlecomment {
    background-color: #eee;
    border: 1px dotted #ccc;
    padding: .33em;
    margin:.66em;
}

.commentreplies h2 {
    font-size: large;
    border-bottom: 1px solid #aaa;
}

.commentreplies {
    margin-left:2em;
    margin-bottom:2em;
}

.userinfo ul li {
    margin-bottom:.33em;
}

.userinfo pre {
    color: #666;
    font-style: italic;
    margin:.66em;
}

.userinfo .avatar img {
    width:32px;
    height:32px;
}

.userinfo h2 {
    position:relative;
    left:.33em;
    top:-.33em;
    display:inline;
    font-size:small;
    color: #444;
}

.userinfo a {
    text-decoration: underline;
}

.replies sup {
    font-size:2em;
    color: white;
    background-color:red;
    border: red 1px solid;
    border-radius: 1.66em;
    padding-left:.33em;
    padding-right:.33em;
    position:relative;
    top:-.66em;
    left:-.33em;
    opacity:0.7
}

#adminlinks li {
    list-style-type: disc;
    margin-left:.33em;
}

#adminlinks h3 {
    margin-top:1.66em;
    margin-bottom:.33em;
    font-weight: bold;
}

#guidelines {
    width: 40em
}

#guidelines h3 {
    margin-top:1.66em;
    margin-bottom:.33em;
    font-weight: bold;
}

#guidelines h2 {
    margin-top:1.66em;
    margin-bottom:.33em;
    font-weight: bold;
}

#guidelines p {
    margin-top:1.66em;
    margin-bottom:.33em;
    margin-left: 2em;
    font-size: .9em;
}
